/* base classes */

.background_white {
	background: white;
}

.f_left {
	float:left;
}

.f_right {
	float:right;

}

.font {font-family: Tahoma, Geneva, Kalimati, sans-serif;
}


img {
	max-width: 100%;
}



.nav_ul {
	display: inline-block;
	list-style-type: none;
	text-decoration: none;
}




.nav_ul a {
	font-family: Tahoma, Geneva, Kalimati, sans-serif;
	display: block;
	text-decoration: none;


}

.clearfix:after {
	height: 0;
	width: 100%;
	clear: both;
	content: '';
	display: block;
}

/* END BASE CLASSES */


/* Body and Wrapper */
body {
	background-image: url("../IMG/background.jpg");
}
.wrapper {
	width: 1000px;
	margin: 0px auto;
	box-shadow: 0 0 10px #000;
	overflow: hidden;
	margin-top: -10px;
}

/* End Body and Wrapper */


/* HEADER */


.head_text {
	font-family: Tahoma, Geneva, Kalimati, sans-serif;
	color: rgb(147, 192, 206);

}

.title {
	background: white;
}

.contact {
	padding: 0px 31px;
	font-size: 12px;
	line-height: 18px;
	margin-top: 7px;
}

#logo {
	padding: 1px 24px 3px;
}


#flags {
	clear: right;
	padding: 11px 35px 0px;
}

.countries {
	font-size: 10px;
	padding-left: 10px;
}

.topnav {
	clear: right;
	position: relative;
	padding-right: 20px;


}

.topnav ul {
	display: table;
	table-layout: fixed;
	margin: 0px;
}
.topnav li {
	{ display: table-cell; text-align: center; }


}

.topnav li a {
	padding: 0px 16px;

}

#shrilanka {
	padding: 0px 0px;
}

#nepal {
	padding-left: 14px;
}

#butan {
	padding-right: 20px;


}

#india {
	padding-right: 19px;

}
#beach {
	border-top: 1px solid rgb(18, 138, 167);
}



/* MAIN NAV */

.mainnav {
	color:white;

}

.mainnav ul {

	margin: -4px 0px 0px;
	background-color: #323232;
	border-left: 4px solid transparent;
	border-right: 3px solid transparent;
}


.mainnav a {
	font-size: 14px;
	padding: 7px 
	41px;
	color: white;
	text-align: left;
}

.mainnav a:hover, .dropdown:hover, .dropbtn:hover {
    background-color: black;
}

/*End MAIN NAV */

.arrow {
	background-image: url("../img/arrow.jpg");
   	background-repeat: no-repeat;
   	background-position: right;
}

.partners {
	background-image: url("../img/arrow.jpg");
	background-repeat: no-repeat;
   	background-position: right;

}
.mainnav li.dropdown {
    display: inline-block;
    position: relative;
 

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #323232;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    line-height:10px;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    font-size: 14px;
    display: block;
    text-align: left;
    z-index: 1;
}


.dropdown:hover .dropdown-content {
    display: block;

}

/* MAIN CONTENT */

.container {
	overflow: hidden;
	margin: -5px auto 0px;
}
.section-block {
	width: 16%;
	border: 2px solid transparent;
	padding: 20px;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
	background: rgb(237, 238, 240);



}

.section-block-special {
	width: 55%;
	border: 1px solid transparent;
	padding: 20px;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
	background: white;
	border-right: 1px solid rgb(199, 202, 207);
	border-left: 1px solid rgb(199, 202, 207);



}

.section-block h5 {
	font-size: 18px;
	color: rgb(66, 76, 67);
	text-align: center;
	margin: 0px;

}

.section-block p {
	font-size: 12px;
	color: rgb(66, 76, 67);
}


footer p {

	margin: 0 41%;
    color: white;
    display: inline-block;
	font-size: 12px;
	color: white;
	
}

</div>
</body>
