* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	margin: 0 auto;
}

#wrapper {
	width: 100%;
	max-width: 960px;
	height: 100%;
	margin: 0px auto;
	border: 1px solid black;
}

