/*Base classes*/
.navigation {
	list-style: none;
	padding: 0;
	margin: 0;
}
.navigation a {
	text-decoration: none;
}
.f_left {
	float: left;
}
.f_right {
	float: right;
}
.clearfix:after {
	height: 0;
	width: 100%;
	clear: both;
	content: '';
	display: block;
}
img {
	max-width: 100%;
}

.footer_text {
	color: #666666;
	display: block;
	padding: 14px 30px;

}
/*END Base classes*/
body {
	font: 400 12px/1.3em Tahoma, Geneva, Kalimati, sans-serif;
}
#wrapper {
	width: 970px;
	padding: 0 45px;
	margin: 0 auto;
	box-shadow: 0 0 10px #000;
}


/*HEADER*/
.header {
	padding-top: 20px;
}
.nav {
	padding-top: 50px;
}
.nav ul{
	background-color: #666666;
}

.nav a {
	padding: 14px 30px;
	display: block;
	color: white;
	text-align: center;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	font-size: 16px;
}

.nav a:hover{
	background-color: #333333;
	border-color: #fff;
}
/*END_HEADER*/

/*CONTENT*/
.main-wrapper {
	padding: 30px 0;
}
.main-content {
	width: 65%;
}

.left-column {
	width: 30%;
}
.aside-item {

}
.sidepanel li {
	border: 1px solid #ccc;
	border-top: none;
}
.sidepanel li:first-child {
	border-top: 1px solid #ccc;
}
.sidepanel li a {
	display: block;
	padding-top: 20px;
	padding-left: 15px;
	padding-bottom: 20px;
	font-weight: bold;
	font-size: 12px;
	color: #666666;

	

}

.sidepanel li a:hover{
	background-color: #b8b8b8;
	padding-left: 25px;
}

.main-content p{
	color: #666666;
	padding-left: 50px;
}

#bikepic {
	border: 1px solid #ccc;
}

.footer{
	clear: both;

}


.footer ul{
	list-style-type: none;
	overflow: hidden;
	background-color: #cccccc;

}


.footer li{
	float: left;


}

footer li a:hover{
	text-decoration: underline;
}


#legal{
	float: right;
	padding-right: 15px;
}

